@import '~@ag-grid-community/all-modules/dist/styles/ag-grid.scss';
@import '~@ag-grid-community/all-modules/dist/styles/ag-theme-alpine';
@import '~@ag-grid-community/all-modules/dist/styles/ag-theme-balham';
.ag-theme-alpine .ag-row-selected {
  transition: text-shadow 1.2s, color 1.2s;
  background: linear-gradient(313deg, rgba(67, 183, 152, 0.7), rgba(43, 161, 98, 0.7)) !important;
  text-shadow: 0 0 10px lightyellow;
}
.ag-row-selected .primary-link {
  color: #006569;
  border-color: whitesmoke;
}
.ag-theme-alpine .ag-ltr .ag-cell {
  border-right-color: inherit;
}
.ag-theme-alpine .ag-header-cell:after, .ag-theme-alpine .ag-header-group-cell:after {
  height: 100%;
  top: 0;
  bottom: 0;
}

.ag-theme-alpine .ag-header {
  background-color: #EBEFFB;
  border-bottom-color: #ddd;
}

.ag-theme-alpine .ag-root-wrapper {
  border: none;
}

.ag-theme-alpine .ag-header-row {
  color: black;
}

.ag-theme-alpine ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: white;
}

.ag-theme-alpine ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(144,147,153, .3);
  -webkit-transition: .3s background-color;
  transition: .3s background-color
}

.ag-theme-alpine ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144,147,153, .5)
}

.ag-theme-balham .ag-row-selected {
  transition: text-shadow 1.2s, color 1.2s;
  background: linear-gradient(313deg, rgba(67, 183, 152, 0.7), rgba(43, 161, 98, 0.7)) !important;
  text-shadow: 0 0 10px lightyellow;
}

.ag-theme-balham .ag-ltr .ag-cell {
  border-right-color: inherit;
}
.ag-theme-balham .ag-header-cell:after, .ag-theme-balham .ag-header-group-cell:after {
  height: 100%;
  top: 0;
  bottom: 0;
}

.ag-theme-balham .ag-header {
  background-color: #EBEFFB;
  border-bottom-color: #ddd;
}

.ag-theme-balham .ag-root-wrapper {
  border: none;
}

.ag-theme-balham .ag-header-row {
  color: black;
}

.ag-theme-balham ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: white;
}

.ag-theme-balham ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(144,147,153, .3);
  -webkit-transition: .3s background-color;
  transition: .3s background-color
}

.ag-theme-balham ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144,147,153, .5)
}


